.pagination
    flex()
    pointer-events none

    li
        margin 5px
        background #f0f0f0
        border-radius 2px
        font-size 14px
        width 40px
        height 40px
        center()
        font-weight 600
        cursor pointer
        pointer-events all
        t()

        &:hover
            background-color #ff908b
            color white

        &.active
            background-color #ff908b
            color white