.store
    padding-top 140px
    padding-bottom 40px
    width 100%

    &-panel
        width 100%
        display flex
        align-items center
        justify-content space-between
    
    &-cart
        background-color #f1f1f1
        padding 10px
        border-radius 5px
        display flex
        align-items center
        cursor pointer
        position relative
        t()

        &__icon
            max-width 25px
            margin-right 10px
            pointer-events none
            +to-width(360px)
                display none
        
        &__counter
            width 20px
            height 20px
            border-radius 50%
            background #ff6060
            color white
            font-size 12px
            pointer-events none
            center()
        
        &.active
            .bucket
                opacity 1
                transform translateX(0)
    
    &-list
        margin-top 40px
        width auto
        margin-left -10px
        margin-right -10px
        flex()
    
    &-pagination
        padding 40px 0
        center()
    
