head

	meta(charset='utf-8')

	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')

	block head
	// Favicon
	<link href="assets/images/favicons/favicon.ico" rel="icon" type="image/x-icon">

	//share social

	meta(property="og:type" content="website")
	meta(property="og:site_name" content="White Code")
	meta(property="og:title" content="Тестовое задание")
	meta(property="og:description" content="Я хорош в своём деле")
	meta(property="og:url" content="...")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:image" content="...")
	meta(property="og:image:width" content="1280")
	meta(property="og:image:height" content="628")

	title White Code | Alexey Chernov

	// Common CSS
	link(href='assets/styles/common.css' rel='stylesheet')
